<%# <% @page_title = "電話番号" %>
<%# <h1><%= @page_title</h1> %>


<%# <%= form_for @entry do |form| %>
  <%# <%= render "form", form: form %>
  <%# <div><%= form.submit</div> %>
<%# <% end %>

<% @page_title = @friend ? @friend.name + "さんのブログ" : "会員のブログ" %>
<h1><%= @page_title %></h1>

<% if @telephones.present? %>
  <% @telephones.each do |telephone| %>
    <p><%= telephone.number %></p>
  <% end %>
<% else %>
  <p>記事がありません。</p>
<% end %>
